/* Responsive */
@media (max-width: 90.63rem) {
    .events-swiper {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .artists-wrapper {
        width: 70%;
    }

    .purpose {
        width: 70%;
    }

    .banner-right {
        flex: 0.6;
    }

    .banner-right-image .single-picks {
        min-width: 380px;
    }
    .mission__content-text {
        flex: 0.5;
    }

    .mission__content-image {
        flex: 0.5;
    }

    /* New Section Code */

    .upcoming__events-heading h3 {
        font-size: 36px;
        line-height: 46px;
    }

    .select__input-wrap {
        width: 200px;
    }

    .select__input-wrap .input__style {
        height: 55px;
    }

    .event__texts h5 {
        margin-bottom: 30px;
    }

    .event__month,
    .event__time {
        font-size: 20px;
        line-height: 26px;
    }

    .event__texts h5,
    .event__day {
        font-size: 24px;
        line-height: 30px;
    }

    /* New Section Code */
}

@media (max-width: 74.94rem) {
    .container {
        max-width: 62rem;
    }

    .top-picks-swiper {
        grid-template-columns: auto;
        grid-template-rows: 34.38rem 21.88rem;
        grid-template-areas: 'first-event first-event' 'second-event third-event';
    }

    .events-swiper {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .main-post {
        flex-direction: column;
    }

    .banner-right {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        margin-top: 30px;
    }

    /* Update Code Start */
    .banner-right .single-picks {
        flex: 1;
        min-width: 300px;
    }

    .banner-right .single-picks img {
        min-height: 320px;
    }

    .banner-right .heading-buy-info-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner-swiper {
        margin-right: 0;
    }

    .banner-right .single-picks:first-child {
        margin-bottom: 0;
        margin-right: 30px;
    }
    /* Update Code End */

    .ticketing__content h5 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    .ticketing__content p {
        font-size: 20px;
        line-height: 28px;
    }

    .ticketing__content-items li {
        font-size: 20px;
        line-height: 28px;
    }

    .section__title h3 {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 7px;
    }

    .price__left {
        padding-left: 0;
    }

    .price__left-content h3 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .price__left-content p {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .price__right-content p {
        font-size: 22px;
        line-height: 28px;
    }

    .price__right-content h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .price__right-content h5 {
        font-size: 24px;
        line-height: 30px;
    }

    .price__features-items li {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;
    }

    .price__features-items li span svg {
        height: 26px;
        margin-right: 3px;
    }

    .price__right-content p {
        margin-bottom: 0;
    }

    .price__right {
        margin-left: 60px;
    }

    .started__btn {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 30px;
    }

    .started__btn-top-artist-page {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 30px;
    }

    .section__title p {
        max-width: 70%;
        font-size: 24px;
        line-height: 30px;
    }

    .feature__box h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .feature__box p {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .feature__box-item h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .feature__box-item img {
        height: 18px;
        margin-right: 7px;
    }

    .feature__box-item {
        padding: 12px;
    }

    .section__title h5 {
        font-size: 15px;
        line-height: 20px;
        padding: 8px;
    }

    .add__ons-item {
        padding: 40px 26px;
    }

    .mission__content {
        padding: 30px;
        padding-top: 60px;
        padding-bottom: 0;
        flex-direction: column;
    }

    .mission__content-text {
        margin-bottom: 50px;
    }

    .mission__content-image {
        max-width: 500px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .accordion button .accordion-title {
        padding-right: 70px;
    }

    .accordion button .icon {
        top: 22px;
    }

    /* New Section Code */
    .upcoming__events-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .upcoming__events-heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .select__input-wrap:first-of-type {
        margin-left: 0;
    }

    .upcoming__events-selector {
        margin-top: 30px;
    }

    .upcoming__events {
        padding-top: 30px;
    }

    .events-swiper {
        padding-bottom: 60px;
    }

    .banner__slide-image img {
        object-fit: fill;
    }
    /* New Section Code */
}

@media (max-width: 64.38rem) {
    .logo {
        font-size: 1.4rem;
    }

    .logo span {
        left: 4.5rem;
    }

    .showcase h2,
    .showcase1 p {
        font-size: 2.5rem;
    }

    .showcase3 p {
        font-size: 2.5rem;
    }

    .showcase p {
        max-width: 100%;
        padding: 0 50px;
        line-height: 1.4;
    }

    .showcase .btn {
        font-size: 1rem;
        padding: 8px 24px;
    }

    .top-picks {
        margin: 4.38rem 0 5rem 0;
        margin-bottom: 0;
    }

    .container {
        max-width: 100%;
        padding: 0 3.13rem;
    }

    .top-picks-swiper {
        grid-template-columns: auto;
        grid-template-rows: 28.13rem 16.88rem;
        grid-template-areas:
            'first-event first-event'
            'second-event third-event';
    }

    .watani {
        height: 10rem;
        font-size: 2rem;
    }

    .events-swiper {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .h1-artists {
        font-size: 1.88rem;
        line-height: 2.5rem;
        margin-bottom: 1.25rem;
    }

    .p-artists {
        width: 100%;
    }

    .purpose-h1 {
        font-size: 1.75rem;
        line-height: 2.38rem;
    }

    .purpose-p {
        line-height: 2rem;
        font-size: 1.44rem;
    }

    .register-ad {
        padding-top: 0;
    }

    .showcase h2,
    .showcase1 p,
    .showcase3 p {
        font-size: 2rem;
        line-height: 1.2;
    }

    .showcase2 h2 {
        margin-bottom: 4rem;
    }

    .showcase2 p {
        margin-bottom: 0;
    }

    .artists-wrapper .h1-artists {
        margin-top: 0;
        font-size: 2rem;
    }

    .artists {
        height: auto;
        padding: 50px 0;
    }

    .aslamy h1 {
        font-size: 2rem;
    }

    .aslamy-helping {
        font-size: 1.6rem;
    }

    .aslamy p {
        font-size: 2rem;
    }

    .terms-customer-wrapper h1 {
        font-size: 1.8rem;
    }

    .terms-customer-wrapper h2 {
        margin-top: 15px;
        font-size: 1.4rem;
    }

    .terms-customer-wrapper p {
        font-size: 1.3rem;
        line-height: 1.6;
    }

    .terms-customer-wrapper ul li {
        font-size: 1.3rem;
        line-height: 1.8;
    }

    .ticketing__content h5 {
        font-size: 20px;
        line-height: 30px;
    }

    .price__wrapper {
        flex-direction: column;
    }

    .price__right {
        width: 100%;
        margin-left: 0;
        margin-top: 80px;
    }

    .features__wrapper {
        flex-direction: column;
    }

    .feature__box {
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    .section__title p {
        max-width: 80%;
    }

    .add__ons-items {
        flex-direction: column;
    }

    .add__ons-item {
        margin-bottom: 80px;
    }

    .add__ons-item:last-child {
        margin-bottom: 0;
    }

    .mission {
        margin-top: 70px;
    }

    .mission__content-text {
        padding-right: 0;
    }

    .mission__content {
        padding-top: 60px;
    }

    .mission__inner-item {
        margin-bottom: 30px;
    }

    .mission__inner-item:last-of-type {
        margin-bottom: 0;
    }

    .mission__inner-items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .container {
        max-width: 100%;
        padding: 0 3.13rem;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 3.5rem;
    }

    .navbar .social-links {
        display: none;
    }

    .navbar .header-search {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .mobile-nav {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .mobile-nav .social-links {
        display: block;
        margin-left: 10px;
        margin-top: 10px;
    }

    .mobile-nav .header-search {
        display: block;
        margin-top: 30px;
        margin-left: 10px;
        order: 3;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    nav a.menu-item {
        display: block;
        width: fit-content;
        margin-bottom: 0;
        line-height: 28px;
        margin: 20px 0;
    }

    /* New Section Code */

    .event__texts h5,
    .event__day {
        font-size: 22px;
        line-height: 28px;
    }

    .event__card-content {
        padding: 25px;
    }

    .user__details p {
        font-size: 16px;
        line-height: 22px;
    }

    .user__details {
        padding: 7px;
    }

    .event__texts {
        margin-left: 30px;
    }

    .event__month,
    .event__time {
        font-size: 18px;
    }

    .events__slider-area h3 {
        font-size: 26px;
        line-height: 32px;
    }

    .banner-swiper .swiper-button-next,
    .banner-swiper .swiper-button-prev {
        padding: 40px 20px;
    }

    .banner-swiper .swiper-button-next::after,
    .banner-swiper .swiper-button-prev::after {
        font-size: 24px;
    }

    /* New Section Code */
}

@media (max-width: 40.63rem) {
    .container {
        padding: 0 0.94rem;
    }

    .showcase p {
        font-size: 1.1rem;
        max-width: 100%;
        padding: 0 15px;
    }

    .showcase h2,
    .showcase1 p {
        font-size: 1.8rem !important;
    }

    .showcase1 p {
        padding: 0 !important;
    }

    .showcase3 p .qr1 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    .showcase3 p .qr2 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    .qr1 {
        position: absolute;
        top: 4.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .qr2 {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .picks-slider .swiper-button-next,
    .picks-slider .swiper-button-prev {
        display: flex;
        width: 2rem !important;
        height: 2rem !important;
    }

    .picks-slider .swiper-button-next::after,
    .picks-slider .swiper-button-prev::after {
        font-size: 1rem;
    }

    .single-picks h5 {
        padding-left: 0.94rem;
        padding-right: 0.94rem;
    }

    .top-picks-heading {
        margin-bottom: 0.94rem;
    }

    .top-picks-swiper {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            'first-event' 'second-event'
            ' third-event';
        grid-row-gap: 3.13rem;
    }

    .top-picks-heading h3 {
        font-size: 1.38rem;
        line-height: 2rem;
    }

    .events-heading h3 {
        font-size: 1.38rem;
        line-height: 2rem;
    }

    .watani {
        height: 8rem;
        font-size: 1.8rem;
    }

    .buy {
        font-size: 1.05rem;
    }

    .product-heading h3 {
        font-size: 1.38rem;
    }

    .product-heading {
        margin-top: 1.88rem;
        margin-bottom: 0.63rem;
    }

    .single-product h5 {
        padding-left: 0.94rem;
        padding-right: 0.94rem;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col h4 {
        font-size: 1.38rem;
        line-height: 1.88rem;
        margin-bottom: 0.94rem;
    }

    .footer-col ul li a {
        font-size: 1.13rem;
        line-height: 1.5rem;
    }

    .footer-col:last-child {
        margin-bottom: 0;
    }

    .events-area {
        margin-bottom: 4.38rem;
    }

    .artists {
        padding: 2rem 0.94rem;
    }

    .artists-wrapper {
        width: 100%;
        padding: 2.5rem 1.63rem;
    }

    .h1-artists {
        font-size: 1.2rem;
        line-height: 1.88rem;
        margin-bottom: 1.25rem;
    }

    .p-artists {
        font-size: 1.13rem;
        line-height: 1.63rem;
    }

    div.main {
        width: 100%;
    }

    .artists-form-wrapper {
        padding: 0 0.94rem;
    }

    form#register {
        margin-bottom: 0;
    }

    textarea {
        height: 5rem;
    }

    .purpose-sec {
        padding: 0 0.94rem;
    }

    .purpose {
        width: 100%;
    }

    .purpose-h1 {
        font-size: 1.38rem;
        line-height: 1.75rem;
    }

    .purpose {
        padding: 1.88rem 1.63rem;
    }

    .purpose-p {
        line-height: 1.63rem;
        font-size: 1.25rem;
    }

    .mobile-nav .social-links {
        margin-left: 15px;
    }

    .navbar-toggler {
        top: 35px;
        right: 15px;
    }

    .mobile-nav .header-search {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-search input {
        height: 40px;
        font-size: 1rem;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .banner-right {
        flex-direction: column;
    }

    .main-post {
        padding: 0;
    }

    .banner-right .single-picks:first-child {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .events-heading {
        margin-left: 0;
    }

    .events-area .single-event {
        margin: 0;
        margin-bottom: 30px;
    }

    .top-picks,
    .external-links,
    .product-area {
        padding: 0;
    }

    .showcase1 p {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .showcase h2 {
        font-size: 1.8rem;
        line-height: 1;
        margin-bottom: 20px;
    }

    .showcase2 h2 {
        line-height: 1.4;
    }

    .showcase2 p {
        font-size: 1.4rem;
    }

    .about-wrapper {
        padding: 0;
        padding-right: 15px;
        padding-bottom: 80px;
    }

    .about-wrapper h3 {
        margin-bottom: 10px;
    }

    .about-wrapper h3:first-child {
        margin-top: 30px;
    }

    .about-wrapper p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .about-wrapper p:last-child {
        margin-bottom: 50px;
    }

    .about-wrapper ul li {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    body {
        padding-top: 90px;
    }

    .artists-wrapper .h1-artists {
        margin-top: 0;
        font-size: 1.4rem;
    }

    .artists-wrapper h1 {
        font-size: 1.4rem;
    }

    .artists {
        padding: 1.3rem 0.94rem;
    }

    .artists ul {
        margin-left: 27px;
    }

    .aslamy {
        margin-bottom: 3rem;
    }

    .aslamy h1 {
        font-size: 1.2rem;
        padding: 8px 5px 10px 5px;
    }

    .aslamy-helping {
        font-size: 1rem;
    }

    .aslamy p {
        font-size: 1.5rem;
        text-align: center;
    }

    .aslamy button {
        padding: 14px 30px 12px !important;
        font-size: 1rem !important;
    }

    .terms-customer-wrapper h1 {
        font-size: 1.5rem;
    }

    .terms-customer-wrapper h2 {
        margin-top: 15px;
        font-size: 1.3rem;
    }

    .terms-customer-wrapper p {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    .terms-customer-wrapper ul li {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .terms-customer-wrapper {
        margin: 0;
    }

    .terms-customer-wrapper h1 {
        padding-top: 0;
    }

    .about {
        box-shadow: none;
    }

    .ticketing__content-area {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .ticketing__content h5 {
        font-size: 22px;
        line-height: 30px;
    }

    .section__title h3 {
        text-align: center;
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 5px;
    }

    .ticketing__content {
        padding-right: 0;
    }

    .content__right .ticketing__content {
        padding-right: 0;
        padding-left: 0;
    }

    .ticketing__content {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .price__left-content h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .price__left-content p {
        font-size: 18px;
        line-height: 26px;
    }

    .started__btn {
        font-size: 18px;
        line-height: 26px;
    }

    .started__btn-top-artist-page {
        font-size: 18px;
        line-height: 26px;
    }

    .price__right-content h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .price__right-content p {
        font-size: 20px;
        line-height: 26px;
    }

    .price__right-content h5 {
        font-size: 20px;
        line-height: 26px;
    }

    .price__features-items li {
        font-size: 18px;
        line-height: 26px;
    }

    .section__title p {
        max-width: 100%;
        font-size: 20px;
    }

    .features {
        padding-bottom: 0;
    }

    .add__ons-item {
        margin-left: 0;
        margin-right: 0;
    }

    .mission__content {
        padding-top: 30px;
    }

    .mission__content-text {
        margin-bottom: 20px;
    }

    .mission__content-text h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .mission__content-text p {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .mission__content-text a {
        font-size: 18px;
    }

    .mission__inner-item {
        margin-left: 0;
        margin-right: 0;
    }

    .mission__inner-item h5 {
        font-size: 24px;
        line-height: 30px;
    }

    .mission__inner-item p {
        font-size: 20px;
        line-height: 26px;
    }

    .accordion button {
        padding: 20px;
        font-size: 18px;
        line-height: 26px;
    }

    .accordion button .icon {
        right: 20px;
    }

    .accordion button .accordion-title {
        padding-right: 40px;
    }

    .faq__area h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .faq__container {
        padding: 50px 0;
    }

    .accordion .accordion-content {
        padding: 0 20px;
    }

    .accordion__content-area p,
    .accordion__content-area ul li {
        font-size: 18px;
        line-height: 26px;
    }

    .container {
        padding: 0 0.94rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .logo {
        font-size: 1.2rem;
        padding-left: 1.1rem;
    }

    .logo span {
        left: 5.5rem;
    }

    nav {
        padding-top: 0;
    }

    .footer-col {
        width: 100%;
    }

    .footer-col h4 {
        font-size: 1.38rem;
        line-height: 1.88rem;
        margin-bottom: 0.94rem;
    }

    .footer-col ul li a {
        font-size: 1.13rem;
        line-height: 1.5rem;
    }

    .footer-col:last-child {
        margin-bottom: 0;
    }

    div.main {
        width: 100%;
    }

    .mobile-nav .social-links {
        margin-left: 15px;
    }

    .navbar-toggler {
        top: 35px;
        right: 15px;
    }

    .mobile-nav .header-search {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .header-search input {
        height: 40px;
        font-size: 1rem;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    body {
        padding-top: 90px;
    }

    /* New Section Code */
    .upcoming__events-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin-top: 30px;
    }

    .upcoming__events-selector {
        flex-wrap: wrap;
    }

    .select__input-wrap {
        width: 150px;
    }

    .select__input-wrap .input__style {
        height: 50px;
        padding: 10px !important;
        font-size: 16px;
        line-height: 22px;
    }

    .select__input-wrap {
        margin-left: 10px;
        margin-right: 10px;
    }

    .select__input-wrap:last-of-type {
        margin-left: 0;
        margin-top: 20px;
    }

    .select__arrow {
        right: 10px;
    }

    .upcoming__events-heading h3 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .event__texts p {
        font-size: 19px;
        line-height: 28px;
    }

    .event__day {
        margin-bottom: 40px;
    }

    .user__details p {
        font-size: 14px;
        line-height: 20px;
    }

    .user__details img {
        width: 30px;
    }

    .user__details {
        top: 15px;
        left: 15px;
    }

    .upcoming__events-card,
    .event__card-image a img {
        border-radius: 17px;
        -webkit-border-radius: 17px;
        -moz-border-radius: 17px;
        -ms-border-radius: 17px;
        -o-border-radius: 17px;
    }

    .upcoming__events {
        padding: 70px 0;
        padding-top: 20px;
    }

    .event__see-btn a {
        margin-top: 50px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: flex;
    }

    .events__slider-area h3 {
        font-size: 22px;
        line-height: 30px;
        padding-right: 80px;
        margin-bottom: -60px;
    }

    .banner-swiper .swiper-button-next,
    .banner-swiper .swiper-button-prev {
        padding: 0px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        display: none;
    }

    .banner-swiper .swiper-button-next::after,
    .banner-swiper .swiper-button-prev::after {
        font-size: 16px;
    }

    .banner-slider,
    .banner__slide-image img {
        height: 200px;
    }

    .banner__slider-area {
        margin-top: 20px;
    }

    .upcoming__events-cards {
        margin-top: 0;
    }

    /* New Section Code */
}
