.event__card-image {
  position: relative;
}

.event__card-image a img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.events__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.event__card-image:hover .events__card-overlay {
  visibility: visible;
  opacity: 1;
}

.events__card-overlay h3 {
  color: #fff;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 46px;
}

#modal-trigger-element-id {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 999px;
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 17px 40px 12px;
  width: 80%;
  background: #fff;
  color: rgb(38, 38, 38);
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin-top: 15px;
}

#modal-trigger-element-id:hover {
  background: rgb(236, 6, 6);
  color: #fff;
}

@media (max-width: 74.94rem) {
  #modal-trigger-element-id {
    padding: 17px 25px 14px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 64.38rem) {
  #modal-trigger-element-id {
    padding: 13px 25px 10px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
}
